<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wstore.mapper.SkuMapper">
    <resultMap id="BaseResultMap" type="com.wstore.pojo.admin.Sku">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="product_code" jdbcType="VARCHAR" property="productCode"/>
        <result column="sku_pic" jdbcType="VARCHAR" property="skuPic"/>
        <result column="market_price" jdbcType="INTEGER" property="marketPrice"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="cost_price" jdbcType="INTEGER" property="costPrice"/>
        <result column="sale_count" jdbcType="INTEGER" property="saleCount"/>
        <result column="available_stock" jdbcType="INTEGER" property="availableStock"/>
        <result column="frozen_stock" jdbcType="INTEGER" property="frozenStock"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap id="WithPropertyBaseResultMap" type="com.wstore.pojo.admin.Sku">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="product_code" jdbcType="VARCHAR" property="productCode"/>
        <result column="sku_pic" jdbcType="VARCHAR" property="skuPic"/>
        <result column="market_price" jdbcType="INTEGER" property="marketPrice"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="cost_price" jdbcType="INTEGER" property="costPrice"/>
        <result column="sale_count" jdbcType="INTEGER" property="saleCount"/>
        <result column="available_stock" jdbcType="INTEGER" property="availableStock"/>
        <result column="frozen_stock" jdbcType="INTEGER" property="frozenStock"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <collection property="skuProperties" ofType="com.wstore.pojo.admin.SkuProperty" javaType="list">
            <id column="pid" jdbcType="INTEGER" property="id"/>
            <result column="property_name" jdbcType="VARCHAR" property="propertyName"/>
            <result column="property_value" jdbcType="VARCHAR" property="propertyValue"/>
        </collection>
    </resultMap>

    <!--商品item属性集封装-->
    <resultMap id="SkuPropertiesMap" type="com.wstore.pojo.item.SkuAllProp">
        <result column="property_name" jdbcType="VARCHAR" property="propertyName"/>
        <collection property="value" ofType="java.lang.String" javaType="list">
            <result column="property_value" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <!--最高/低价格封装-->
    <resultMap id="MaxPriceResultMap" type="com.wstore.pojo.admin.Product">
        <result column="min_price" jdbcType="INTEGER" property="minPrice"/>
        <result column="max_price" jdbcType="INTEGER" property="maxPrice"/>
    </resultMap>

    <!--商品Item sku组合/聚合-->
    <resultMap id="ItemResultMap" type="com.wstore.pojo.item.SkuPolymerization">
        <result column="sku_key" jdbcType="VARCHAR" property="skuKey"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="available_stock" javaType="INTEGER" property="stock"/>
        <result column="price" javaType="INTEGER" property="price"/>
        <result column="frozen_stock" javaType="INTEGER" property="frozenStock"/>
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, sku_code, product_code, sku_pic, market_price, price, cost_price, sale_count, 
    available_stock, frozen_stock, create_time, update_time
  </sql>

    <sql id="Sku_Property_List">
        s.id,s.sku_code,s.sku_pic,s.market_price,s.price,s.cost_price,s.available_stock,s.frozen_stock,p.id as pid,p.property_name,p.property_value,s.update_time
    </sql>

    <sql id="Sku_Item_Prop">
        sp.property_name,
        sp.property_value
    </sql>

    <sql id="Sku_Item_Polymerization">
        s.id,GROUP_CONCAT(sp.property_value SEPARATOR ';') AS sku_key,s.available_stock,s.price,s.frozen_stock
    </sql>

    <select id="selectByExample" parameterType="com.wstore.pojo.admin.SkuExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from tbl_sku
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <!--联合sku属性查询-->
    <select id="selectWithPropertyByCode" parameterType="String" resultMap="WithPropertyBaseResultMap">
        select
        <include refid="Sku_Property_List"/>
        FROM tbl_sku s
        LEFT JOIN tbl_sku_property p
        ON s.sku_code = p.sku_code
        where s.product_code=#{productCode,jdbcType=VARCHAR}
    </select>

    <!--商品Item聚合-->
    <select id="selectAllProperties" parameterType="String" resultMap="SkuPropertiesMap">
        select
        <include refid="Sku_Item_Prop"/>
        FROM tbl_product_property pp
        LEFT JOIN tbl_sku_property sp
        ON pp.id=sp.product_property_id
        where pp.product_code=#{code,jdbcType=VARCHAR}
        GROUP BY sp.property_value
    </select>

    <!--查询sku组合结果集 商品Item-->
    <select id="selectSkuPolymerizationByCode" parameterType="String" resultMap="ItemResultMap">
        select
        <include refid="Sku_Item_Polymerization"/>
        FROM tbl_sku s LEFT JOIN tbl_sku_property sp
        ON s.sku_code=sp.sku_code
        WHERE sp.product_code = #{code,jdbcType=VARCHAR}
        GROUP BY s.id
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_sku
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!--sku最高/低价查询-->
    <select id="findMaxAndMinPrice" parameterType="java.lang.String" resultMap="MaxPriceResultMap">
        SELECT
        MIN(s.price) AS min_price,
        MAX(s.price) AS max_price
        FROM tbl_sku s
        WHERE s.product_code = #{productCode,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_sku
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.wstore.pojo.admin.SkuExample">
        delete from tbl_sku
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.wstore.pojo.admin.Sku">
    insert into tbl_sku (id, sku_code, product_code, 
      sku_pic, market_price, price, 
      cost_price, sale_count, available_stock, 
      frozen_stock, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{skuCode,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, 
      #{skuPic,jdbcType=VARCHAR}, #{marketPrice,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, 
      #{costPrice,jdbcType=INTEGER}, #{saleCount,jdbcType=INTEGER}, #{availableStock,jdbcType=INTEGER}, 
      #{frozenStock,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.wstore.pojo.admin.Sku">
        insert into tbl_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="skuCode != null">
                sku_code,
            </if>
            <if test="productCode != null">
                product_code,
            </if>
            <if test="skuPic != null">
                sku_pic,
            </if>
            <if test="marketPrice != null">
                market_price,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="costPrice != null">
                cost_price,
            </if>
            <if test="saleCount != null">
                sale_count,
            </if>
            <if test="availableStock != null">
                available_stock,
            </if>
            <if test="frozenStock != null">
                frozen_stock,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="skuCode != null">
                #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="productCode != null">
                #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="skuPic != null">
                #{skuPic,jdbcType=VARCHAR},
            </if>
            <if test="marketPrice != null">
                #{marketPrice,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="costPrice != null">
                #{costPrice,jdbcType=INTEGER},
            </if>
            <if test="saleCount != null">
                #{saleCount,jdbcType=INTEGER},
            </if>
            <if test="availableStock != null">
                #{availableStock,jdbcType=INTEGER},
            </if>
            <if test="frozenStock != null">
                #{frozenStock,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.wstore.pojo.admin.SkuExample" resultType="java.lang.Long">
        select count(*) from tbl_sku
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update tbl_sku
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.skuCode != null">
                sku_code = #{record.skuCode,jdbcType=VARCHAR},
            </if>
            <if test="record.productCode != null">
                product_code = #{record.productCode,jdbcType=VARCHAR},
            </if>
            <if test="record.skuPic != null">
                sku_pic = #{record.skuPic,jdbcType=VARCHAR},
            </if>
            <if test="record.marketPrice != null">
                market_price = #{record.marketPrice,jdbcType=INTEGER},
            </if>
            <if test="record.price != null">
                price = #{record.price,jdbcType=INTEGER},
            </if>
            <if test="record.costPrice != null">
                cost_price = #{record.costPrice,jdbcType=INTEGER},
            </if>
            <if test="record.saleCount != null">
                sale_count = #{record.saleCount,jdbcType=INTEGER},
            </if>
            <if test="record.availableStock != null">
                available_stock = #{record.availableStock,jdbcType=INTEGER},
            </if>
            <if test="record.frozenStock != null">
                frozen_stock = #{record.frozenStock,jdbcType=INTEGER},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update tbl_sku
        set id = #{record.id,jdbcType=INTEGER},
        sku_code = #{record.skuCode,jdbcType=VARCHAR},
        product_code = #{record.productCode,jdbcType=VARCHAR},
        sku_pic = #{record.skuPic,jdbcType=VARCHAR},
        market_price = #{record.marketPrice,jdbcType=INTEGER},
        price = #{record.price,jdbcType=INTEGER},
        cost_price = #{record.costPrice,jdbcType=INTEGER},
        sale_count = #{record.saleCount,jdbcType=INTEGER},
        available_stock = #{record.availableStock,jdbcType=INTEGER},
        frozen_stock = #{record.frozenStock,jdbcType=INTEGER},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.wstore.pojo.admin.Sku">
        update tbl_sku
        <set>
            <if test="skuCode != null">
                sku_code = #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="productCode != null">
                product_code = #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="skuPic != null">
                sku_pic = #{skuPic,jdbcType=VARCHAR},
            </if>
            <if test="marketPrice != null">
                market_price = #{marketPrice,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=INTEGER},
            </if>
            <if test="costPrice != null">
                cost_price = #{costPrice,jdbcType=INTEGER},
            </if>
            <if test="saleCount != null">
                sale_count = #{saleCount,jdbcType=INTEGER},
            </if>
            <if test="availableStock != null">
                available_stock = #{availableStock,jdbcType=INTEGER},
            </if>
            <if test="frozenStock != null">
                frozen_stock = #{frozenStock,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wstore.pojo.admin.Sku">
    update tbl_sku
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      sku_pic = #{skuPic,jdbcType=VARCHAR},
      market_price = #{marketPrice,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      cost_price = #{costPrice,jdbcType=INTEGER},
      sale_count = #{saleCount,jdbcType=INTEGER},
      available_stock = #{availableStock,jdbcType=INTEGER},
      frozen_stock = #{frozenStock,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>