<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>全部商品 - Wstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/layout.css"/>
    <link href="css/list.css" rel="stylesheet"/>
    <script src="/js/jquery-3.3.1.js"></script>
</head>

<body>
<header class="layout-header clearfix" id="layoutHeader">
    <div class="mzcontainer">
        <div class="layout-header-logo">
            <a target="_blank" href="http://www.meizu.com" class="layout-header-logo-link" alt="魅族科技"
               data-mtype="wmz_public_yt_logo">
                <img alt="" style="max-width: 130px; margin-top: 28px">
            </a>
        </div>
        <ul class="layout-header-service clearfix">
            <li class="layout-header-service-item" id="layoutHeaderUser">
                <a class="layout-header-service-link" href="//me.meizu.com/member/index"
                   data-mtype="wmz_public_yt_mycenter">
                    <img alt="" class="layout-font-cart">
                </a>
            </li>
            <li class="layout-header-service-item layout-header-service-cart" id="layoutHeaderCart">
                <a class="layout-header-service-link service-cart" href="//cart.meizu.com"
                   data-mtype="wmz_public_yt_cart">
                    <img alt="" class="layout-font-cart">
                    <span class="layout-header-service-cart-num">0</span>
                </a>
            </li>
        </ul>
        <ul class="layout-header-nav clearfix" id="layoutHeaderNav">
            <li class="layout-header-nav-item">
                <a href="//store.meizu.com" class="layout-header-nav-link" data-mtype="wmz_public_yt_store">商城</a>
            </li>
            <li class="layout-header-nav-item">
                <a href="https://lists.meizu.com/page/list?categoryid=76" class="layout-header-nav-link"
                   data-mtype="wmz_public_yt_custom_1">手机</a>
            </li>
            <li class="layout-header-nav-item">
                <a href="https://lists.meizu.com/page/list/?categoryid=231" class="layout-header-nav-link"
                   data-mtype="wmz_public_yt_custom_2">声学</a>
            </li>
            <li class="layout-header-nav-item">
                <a href="https://lists.meizu.com/page/list/?categoryid=174" class="layout-header-nav-link"
                   data-mtype="wmz_public_yt_custom_3">智能</a>
            </li>
            <li class="layout-header-nav-item">
                <a href="https://lists.meizu.com/page/list/?categoryid=222" class="layout-header-nav-link"
                   data-mtype="wmz_public_yt_custom_4">生活</a>
            </li>
            <li class="layout-header-nav-item">
                <a href="//www.flyme.cn/" class="layout-header-nav-link" target="_blank"
                   data-mtype="wmz_public_yt_flyme">Flyme</a>
            </li>
            <li class="layout-header-nav-item">
                <a href="http://care.meizu.com/" class="layout-header-nav-link" target="_blank"
                   data-mtype="wmz_public_yt_service">服务</a>
            </li>
            <li class="layout-header-nav-item">
                <a href="http://retail.meizu.com/index.html" class="layout-header-nav-link" target="_blank"
                   data-mtype="wmz_public_yt_offstore">专卖店</a>
            </li>
            <li class="layout-header-nav-item">
                <a href="//bbs.meizu.cn/" class="layout-header-nav-link" target="_blank" data-mtype="wmz_public_yt_bbs">社区</a>
            </li>
            <li class="layout-header-nav-item">
                <a href="//hd.meizu.com/share/app_download.html?click=store_index_dt_menu"
                   class="layout-header-nav-link" target="_blank"
                   data-mtype="wmz_public_yt_app">APP下载</a>
            </li>
        </ul>
        <div class="layout-header-nav-downmenu" id="layoutHeaderNavDownmenu"></div>
    </div>
</header>

<!--下面是模板标签，不可删除-->

<main class="wrapper page-search" id="main">
    <div class="container">
        <section class="crumbs clearfix">
            <a data-mtype="store_list_mbx_index" href="//store.meizu.com/index.html?click=store_list_mbx_index">首页</a>
            &nbsp;&gt;&nbsp;
            <span class="crumbs-level" id="crumbsLevel" data-mtype="">
					全部商品
				</span>
        </section>
        <section class="brand" id="brand" style="display: none"></section>

        <section class="selector" id="selector">
            <!--  分类部分 start -->
            <div class="sl-category" id="slCategory">
                <div class="sl-line-wrap">
                    <div class="mod-key">分类：</div>
                    <div class="mod-value">
                        <div class="mod-value-list">
                            <ul id="category_box">
                                <li>
                                    <a href="javascript:;" value="0">全部</a>
                                </li>
                                <li class="" th:each="category:${categories}">
                                    <a href="javascript:;" th:value="${#numbers.formatDecimal(category.id,0,0)}">[[${category.name}]]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mod-ext">
                        <a class="sl-e-more J_extMore" href="javascript:;"
                           style="visibility: visible;" id="show_all_category">展开<i class="iconfont">&gt;</i></a>
                    </div>
                </div>
            </div>
            <div class="sl-prop" id="slProp">
                <div class="sl-line-wrap">
                    <div class="mod-key">
                        <span>品牌：</span>
                    </div>
                    <div class="mod-value">
                        <div class="mod-value-list">
                            <ul id="brand_box">
                                <li class="active">
                                    <a title="" href="javascript:;" value="0">全部</a>
                                </li>
                                <li th:each="brand:${brands}">
                                    <a title="" href="javascript:;" th:value="${#numbers.formatDecimal(brand.id,0,0)}">[[${brand.name}]]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mod-ext">
                        <a class="sl-e-more J_extMore" href="javascript:;"
                           style="visibility: visible;" id="show_all_brand">展开<i class="iconfont">&gt;</i></a>
                    </div>

                </div>
            </div>
        </section>

        <section class="filter clearfix" id="filter" style="display:
            block">
            <div class="filter-order" id="J_filterOrder">
                <a class="active" data-tag="0" data-mtype="store_list_sx_1" href="javascript:void(0);">
                    推荐
                </a>
                <a data-tag="1" data-mtype="store_list_sx_2" href="javascript:void(0);">
                    新品
                </a>
                <a data-tag="2" data-mtype="store_list_sx_3" href="javascript:void(0);">
                    价格
                    <i class="icon-arrow-down"></i>
                </a>
            </div>
            <div class="filter-condition" id="J_filterCondition">
                <label class="bs-checkbox" data-mtype="store_list_sx_xz">
                    <i></i>仅显示有货商品
                </label>
            </div>
        </section>

        <section class="goods-list" id="goodsList">
            <ul class="goods-list-wrap clearfix" style="">
                <li class="gl-item" th:each="product:${page.list}">
                    <a target="_blank" th:href="'http://localhost:8085/item/product/'+${product.id}">
                        <div class="gl-item-wrap">
                            <div class="mod-pic">
                                <img width="220" height="220" class="lazy j-modProduct" th:src="${product.mainPic}">
                            </div>
                            <h2>[[${product.name}]]</h2>
                            <h3 class="gray">[[${product.subName}]]</h3>
                            <dd class="mod-price">
                                <span>￥</span>
                                <span class="vm-price">[[${product.minPrice} * 0.01]]</span>
                                <span class="vm-start">起</span>
                            </dd>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
        <section class="empty clearfix" id="empty"
                 th:style="${#carts.length(page.list)>0}?'display:none':'display:block'">
            <div class="empty-bd">
                <div class="empty-bd-pic"></div>
                <div class="empty-bd-info">
                    <h4 class="yahei">抱歉没有找到相关商品</h4>
                    <p>建议您：
                        <br/> 1.适当减少筛选条件
                        <br/> 2.尝试其他关键字
                    </p>
                </div>
            </div>
        </section>

        <section class="pages" id="pages">
            <div class="ui-paginate">
                <a class="p-elem p-prev" th:if="!${page.firstPage}" th:data="${page.num}"><span><</span></a>
                <span class="p-prev disabled p-elem" th:if="${page.firstPage}">没有上一页</span>
                <a href="javascript:;"
                   th:each="num:${page.navigatepageNums}"
                   th:class="${num==page.num+1}?'p-item p-elem current':'p-item p-elem'"
                   th:data="${num}">[[${num}]]</a>
                <a class="p-elem p-prev" th:if="!${page.lastPage}" th:data="${page.num}+2"><span>></span></a>
                <span class="p-prev disabled p-elem" th:if="${page.lastPage}">没有下一页</span>
            </div>
        </section>

        <section class="recommend" id="recommend">
            <div class="recommend-hd">
                <h2 class="mod-title">为您推荐</h2>
            </div>
            <div class="recommend-slider" id="J_recommendSlider">
                <ul class="recommend-slider-wrap">
                    <li class="rs-item">
                        <a data-mtype="store_list_tj_3" class="rs-item-wrap" title="魅蓝 Note6"
                           href="//detail.meizu.com/item/meilannote6.html?click=store_list_tj_3"
                           target="_blank">
                            <div class="mod-pic">
                                <img class="lazy"
                                     src="http://192.168.144.131/group1/M00/00/02/wKiQlFtmSbGAeiSsAAJWECaZ-6E739.jpg"
                                     width="180" height="180">
                            </div>
                            <div class="mod-desc">
                                <h4 class="vm-title">魅蓝 Note6 </h4>
                                <h6 class="vm-subtitle" title=""></h6>
                                <p class="vm-price">
                                    <span>¥</span>
                                    <span class="vm-price-text">799</span>
                                    <span class="vm-price-old">¥899</span>
                                </p>
                            </div>
                            <span class="mod-sign" style="background-color: #f0415f;">
									特惠
								</span>
                        </a>
                    </li>
                    <li class="rs-item">
                        <a data-mtype="store_list_tj_4" class="rs-item-wrap" title="魅蓝 E2"
                           href="//detail.meizu.com/item/meilane2.html?click=store_list_tj_4"
                           target="_blank">
                            <div class="mod-pic">
                                <img class="lazy"
                                     src="http://192.168.144.131/group1/M00/00/02/wKiQlFtmSbGAeiSsAAJWECaZ-6E739.jpg"
                                     width="180" height="180">
                            </div>
                            <div class="mod-desc">
                                <h4 class="vm-title">魅蓝 E2 </h4>
                                <h6 class="vm-subtitle" title=""></h6>
                                <p class="vm-price">
                                    <span>¥</span>
                                    <span class="vm-price-text">899</span>
                                    <span class="vm-start">起</span>
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="rs-item">
                        <a data-mtype="store_list_tj_5" class="rs-item-wrap" title="魅蓝 S6"
                           href="//detail.meizu.com/item/meilans6.html?click=store_list_tj_5"
                           target="_blank">
                            <div class="mod-pic">
                                <img class="lazy"
                                     src="http://192.168.144.131/group1/M00/00/02/wKiQlFtmSbGAeiSsAAJWECaZ-6E739.jpg"
                                     width="180" height="180">
                            </div>
                            <div class="mod-desc">
                                <h4 class="vm-title">魅蓝 S6 </h4>
                                <h6 class="vm-subtitle" title=""></h6>
                                <p class="vm-price">
                                    <span>¥</span>
                                    <span class="vm-price-text">999</span>
                                    <span class="vm-start">起</span>
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="rs-item">
                        <a data-mtype="store_list_tj_6" class="rs-item-wrap" title="博思尼超轻VR一体机 赠送手柄"
                           href="//detail.meizu.com/item/X8.html?click=store_list_tj_6"
                           target="_blank">
                            <div class="mod-pic">
                                <img class="lazy"
                                     src="http://192.168.144.131/group1/M00/00/02/wKiQlFtmSbGAeiSsAAJWECaZ-6E739.jpg"
                                     width="180" height="180">
                            </div>
                            <div class="mod-desc">
                                <h4 class="vm-title">博思尼超轻VR一体机 赠送手柄 </h4>
                                <h6 class="vm-subtitle" title="3期免息 高清vr一体机头戴式3d眼镜2K虚拟现实智能">3期免息
                                    高清vr一体机头戴式3d眼镜2K虚拟现实智能</h6>
                                <p class="vm-price">
                                    <span>¥</span>
                                    <span class="vm-price-text">899</span>
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="rs-item">
                        <a data-mtype="store_list_tj_7" class="rs-item-wrap" title="iEager Micro USB 数据线"
                           href="//detail.meizu.com/item/mc100ub1.html?click=store_list_tj_7"
                           target="_blank">
                            <div class="mod-pic">
                                <img class="lazy"
                                     src="http://192.168.144.131/group1/M00/00/02/wKiQlFtmSbGAeiSsAAJWECaZ-6E739.jpg"
                                     width="180" height="180">
                            </div>
                            <div class="mod-desc">
                                <h4 class="vm-title">iEager Micro USB 数据线 </h4>
                                <h6 class="vm-subtitle" title="兼容广泛，传输稳定，高效传输">兼容广泛，传输稳定，高效传输</h6>
                                <p class="vm-price">
                                    <span>¥</span>
                                    <span class="vm-price-text">19.9</span>
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>

</body>
<footer class="layout-footer">
    <div class="mzcontainer">
        <section class="layout-footer-top clearfix">
            <ul class="layout-footer-services clearfix">
                <li class="layout-footer-services-item">
                    <a href="http://service.meizu.com/help/delivery.html" class="layout-footer-services-link"
                       target="_blank" data-mtype="wmz_public_foot_freemail">
                        <span class="layout-footer-services-text">全场顺丰包邮</span>
                    </a>
                </li>
                <li class="layout-footer-services-item">
                    <a href="https://store.meizu.com/marrive/summary.html" class="layout-footer-services-link"
                       target="_blank" data-mtype="wmz_public_foot_cityfast">
                        <span class="layout-footer-services-text">100+ 城市次日送达</span>
                    </a>
                </li>
                <li class="layout-footer-services-item">
                    <a href="http://service.meizu.com/help/after_ser.html#policy1" class="layout-footer-services-link"
                       target="_blank" data-mtype="wmz_public_foot_noreasonreturn">
                        <span class="layout-footer-services-text">7天无理由退货</span>
                    </a>
                </li>
                <li class="layout-footer-services-item">
                    <a href="http://service.meizu.com/help/after_ser.html#policy2" class="layout-footer-services-link"
                       target="_blank" data-mtype="wmz_public_foot_exchangeguarantee">
                        <span class="layout-footer-services-text">15天换货保障</span>
                    </a>
                </li>
                <li class="layout-footer-services-item">
                    <a href="http://service.meizu.com/help/after_ser.html#policy3" class="layout-footer-services-link"
                       target="_blank" data-mtype="wmz_public_foot_freerepair">
                        <span class="layout-footer-services-text">1年免费保修</span>
                    </a>
                </li>
                <li class="layout-footer-services-item">
                    <a href="http://care.meizu.com/repair/home/profile.html" class="layout-footer-services-link"
                       target="_blank" data-mtype="wmz_public_foot_homerepair">
                        <span class="layout-footer-services-text">上门快修</span>
                    </a>
                </li>
            </ul>
            <div class="layout-footer-contact">
                <p class="layout-footer-contact-desc">周一至周日 7:30-24:00</p>
                <a href="tel:400-788-3333" class="layout-footer-contact-tel">400-788-3333</a>
                <p>
                    <a href="javascript:void(0);" data-mtype="wmz_public_foot_onservice"
                       class="layout-footer-contact-online"
                       onclick="window.open('https://mwx-api.meizu.com/live-service');">
                        <span class="text">在线客服</span>
                    </a>
                </p>
            </div>
        </section>
        <section class="layout-footer-bottom clearfix">
            <ul class="layout-footer-interlock clearfix">
                <li class="layout-footer-interlock-item">
                    <a href="//www.meizu.com/about.html" target="_blank" class="layout-footer-interlock-link"
                       data-mtype="wmz_public_yw_learn">了解魅族</a>
                </li>
                <li class="layout-footer-interlock-item">
                    <a href="http://hr.meizu.com/" target="_blank" class="layout-footer-interlock-link"
                       data-mtype="wmz_public_yw_join">加入我们</a>
                </li>
                <li class="layout-footer-interlock-item">
                    <a href="//www.meizu.com/contact.html" target="_blank" class="layout-footer-interlock-link"
                       data-mtype="wmz_public_yw_contact">联系我们</a>
                </li>
                <li class="layout-footer-interlock-item">
                    <a href="http://www.flyme.cn/" target="_blank" class="layout-footer-interlock-link"
                       data-mtype="wmz_public_yw_flyme">Flyme</a>
                </li>
                <li class="layout-footer-interlock-item">
                    <a href="http://bbs.meizu.com" target="_blank" class="layout-footer-interlock-link"
                       data-mtype="wmz_public_yw_bbs">魅族社区</a>
                </li>
                <li class="layout-footer-interlock-item">
                    <a href="https://meizu.tmall.com/" target="_blank" class="layout-footer-interlock-link"
                       data-mtype="wmz_public_yw_tmall">天猫旗舰店</a>
                </li>
                <li class="layout-footer-interlock-item">
                    <a href="//www.meizu.com/feedback.html" target="_blank" class="layout-footer-interlock-link"
                       data-mtype="wmz_public_yw_question">问题反馈</a>
                </li>
                <li class="layout-footer-interlock-item">
                    <a href="//www.meizu.com/authorization.html" target="_blank" class="layout-footer-interlock-link"
                       data-mtype="wmz_public_yw_map">线上销售授权名单公示</a>
                </li>
                <li class="layout-footer-interlock-item">
                    <a href="//cimg2.res.meizu.com/www/meizu/publish_license.pdf" target="_blank"
                       class="layout-footer-interlock-link" data-mtype="wmz_public_yw_license">出版物经营许可证</a>
                </li>
                <li class="layout-footer-interlock-item interlock-link-lang">
					<span class="layout-footer-language">
						<a href="javascript:void(0);" class="layout-footer-interlock-link" id="layoutFooterLang">
						</a>
					</span>
                    <div class="layout-footer-body" id="layoutFooterLangBody">
                    </div>
                </li>
            </ul>
            <div class="layout-footer-copyright clearfix">
				<span class="layout-footer-copyright-left">
					<a class="layout-footer-copyright-link copyright-text">&copy;2018 Meizu Telecom Equipment Co., Ltd. All rights reserved.</a>
					<a class="layout-footer-copyright-link" hidefocus="true" href="http://www.miitbeian.gov.cn/"
                       target="_blank">粤ICP备13003602号-2</a>
					<a class="layout-footer-copyright-link" hidefocus="true"
                       href="//store.res.meizu.com/layout/img/icp-abd57f3b39.png" target="_blank">合字B2-20170010</a>
					<a class="layout-footer-copyright-link" hidefocus="true"
                       href="//www2.res.meizu.com/zh_cn/images/common/com_licence.jpg"
                       target="_blank">营业执照</a>
					<a class="layout-footer-copyright-link" hidefocus="true"
                       href="http://www.meizu.com/legalStatement.html" target="_blank">法律声明</a>
					<a class="layout-footer-copyright-link">
						<i class="layout-icon-police"></i>粤公网安备 44049102496009 号</a>
					<a class="layout-footer-copyright-link" hidefocus="true" href="http://210.76.65.188/" rel="nofollow"
                       target="_blank">
						<i class="layout-icon layout-icon-license"></i>
					</a>
					<a class="layout-footer-copyright-link" hidefocus="true"
                       href="http://210.76.65.188/webrecord/innernet/Welcome.jsp?bano=4404013010531"
                       rel="nofollow" target="_blank">
						<i class="layout-icon layout-icon-wel"></i>
					</a>
					<a class="layout-footer-copyright-link" hidefocus="true"
                       href="https://credit.szfw.org/CX20151204012550820380.html" rel="nofollow"
                       target="_blank">
						<i class="layout-icon layout-icon-trust"></i>
					</a>
				</span>
                <ul class="layout-footer-media clearfix">
                    <li class="layout-footer-media-item">
                        <a href="http://weibo.com/meizumobile" class="layout-footer-media-link">
                            <i class="layout-font layout-font-weibo"></i>
                        </a>
                    </li>
                    <li class="layout-footer-media-item">
                        <a href="javascript:void(0);" class="layout-footer-media-link wechat">
                            <i class="layout-font layout-font-wechat"></i>
                            <div class="layout-footer-media-wechat-qrcode">
                            </div>
                        </a>
                    </li>
                    <li class="layout-footer-media-item">
                        <a href="https://user.qzone.qq.com/2762957059" class="layout-footer-media-link">
                            <i class="layout-font layout-font-qzone"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</footer>
<script src="/js/list.js"></script>
</body>
</html>
