* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.mz-hide{
	display: none!important;
}

.debb {
    border: red 1px solid!important;
}

a {
    color: #000
}

a:hover {
    color: #000
}

a:active {
    color: #000
}

li {
    list-style: none;
}

.wrap {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.top-nav {
    position: relative;
    font-size: 14px;
    height: 80px;
}

.nav-logo {
    float: left;
}

.nav-logo a {
    display: block;
    background: url(../img/logo.png) center center;
    background-repeat: no-repeat;
    height: 80px;
    width: 150px;
}

.top-nav-center {
	font-size: 12px;
    width: -webkit-min(77px);
    float: left;
}

.top-nav-center a{
	color: #393D49;
	transition: all .2s ease-in-out;
}

.top-nav-center a:hover{
	color: #00C3F5;
	transition: all .2s ease-in-out;
}


.top-nav ul li {
    float: left;
    display: block;
    padding: 0 15px;
    line-height: 80px;
}

.search-input {
    width: 100px;
    border: 1px solid #e5e5e5;
    height: 30px;
	font-size: 12px;
    border-radius: 20px;
    padding: 0 15px;
    margin: 25px 17px 30px;
    outline: none;
    transition: all .8s ease-in-out;
}

/* 搜索框 */

#search-form {
    position: relative;
}

.search-btn {
    color: #a0a0a0;
    position: absolute;
    right: 30px;
    top: 35px
}

.top-nav-user li {
    position: relative;
    float: left;
    padding: 30px 17px 0;
}

.top-nav-user li>a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    color: #666;
}

.top-nav-user li a img {
    width: 24px;
}
/* 购物车 */

.store-car {
	display: none;
    position: absolute;
    width: 318px;
    min-height: 120px;
    font-size: 12px;
    background-color: #FFF;
    border: 1px solid #efefef;
    border-radius: 3px;
    text-align: left;
    z-index: 999;
    top: 60px;
    left: 900px;
}
.store-car-arrow{
	font-size: 32px!important;
	position: absolute;
	left: 294px;
	color: #efefef;
}
.store-cart-list li{
	display: block;
	width: 287px;
	transition: background-color .2s linear;
}

.store-cart-list li:hover{
	display: block;
	background-color: #e6e6e6;
	transition: background-color .2s linear;
}

.store-car .store-car-title {
    font-size: 12px;
    margin: 20px 0 5px 20px;
    color: #999;
}

.store-cart-item-content {
    width: 270px;
    height: 75px;
    padding-top: 16;
}

.store-car .store-cart-item-content p {
    font-size: 12px;
    line-height: 24px;
}

.store-cart-item-content img {
    width: 48px;
    float: left;
}

.store-cart-item-content a p {
    line-height: 14px;
    display: block;
    width: 270px;
}

.store-cart-left {
    padding-top: 15px;
    float: left;
    width: 160px;
    margin-bottom: 6px;
}

.store-cart-left a p {
    color: #999;
    float: left;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.store-cart-left a p:first-child {
    color: #333;
}

.store-cart-left a:hover p {
    color: #1E9FFF;
}

.store-cart-right {
    line-height: 18px;
    width: 70px;
    float: right;
    padding-top: 15px;
    text-align: right;
}

.store-cart-right p {
    margin: 0px!important;
}

.store-car-foot{
	clear: both;
	padding:10px 10px;
	font-size: 12px;
	line-height: 40px;
}

.default-btn{
	padding: 6px 20px;
    color: #FFF;
    border-color: #00c3f5;
    background-color: #00c3f5;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
	font-size: 14px;
	float: right;
	line-height: 20px;
}
.default-btn:hover{
	color: #FFF;
	background-color: #13caf9;
}
.mz-hide {
    display: none!important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
}

img {
    border-style: none;
    vertical-align: top;
}