<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wstore - 商品SKU管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/product.css"/>
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/product.css">
    <script src="/assets/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="~{index::topbar}"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper active">

        <div class="row-content am-cf">
            <div class="row">
                <!--表格-->
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 am-animation-slide-top" id="table_window">
                    <div class="widget am-cf" style="min-height: 600px">
                        <div class="widget-title am-md-text-center">
                            <p class="am-text-primary am-text-xl">[[${product.name}]] 的SKU</p>
                            <hr/>
                        </div>

                        <div class="am-scrollable-horizontal">
                            <div class="am-u-sm-12">
                                <div>
                                    <button class="am-btn am-btn-xs am-btn-secondary am-fr" id="add_sku_btn">添加商品SKU
                                    </button>
                                </div>
                                <table class="am-table am-table-striped am-text-nowrap am-table-hover" id="sku_table">
                                    <thead>
                                    <tr>
                                        <th>SKU预览图</th>
                                        <th>SKU编码</th>
                                        <th>SKU描述</th>
                                        <th>市场价</th>
                                        <th>优惠价</th>
                                        <th>成本价</th>
                                        <th>可用库存</th>
                                        <th>锁定库存</th>
                                        <th>上次修改</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="sku:${skuList}">
                                        <td class="am-text-center">
                                            <img th:src="${sku.skuPic}" height="30">
                                        </td>
                                        <td th:text="${sku.skuCode}"></td>
                                        <td>
                                            <i th:each="prop:${sku.skuProperties}">
                                                <span class="am-badge am-radius">
                                               [[${prop.propertyValue}]]
                                            </span>
                                                <small class="am-hide">
                                                    [[${prop.id}]]
                                                </small>
                                            </i>
                                        </td>
                                        <td class="am-hide" th:text="${sku.id}"></td>
                                        <td th:text="${sku.marketPrice} * 0.01">699.00</td>
                                        <td th:text="${sku.price} * 0.01">599.00</td>
                                        <td th:text="${sku.costPrice} * 0.01">199.00</td>
                                        <td th:text="${sku.availableStock}">9999</td>
                                        <td th:text="${sku.frozenStock}">100</td>
                                        <td th:text="${#dates.format(sku.updateTime,'yyyy-MM-dd hh:mm:ss')}">
                                            2019-10-01
                                        </td>
                                        <td>
                                            <button class="am-btn am-btn-xs am-btn-secondary" onclick="to_edit(this)">
                                                <i class="am-icon-edit"></i> 编辑
                                            </button>
                                            <button class="am-btn am-btn-xs am-btn-danger" onclick="del(this)">
                                                <i class="am-icon-minus"></i> 删除
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--编辑sku-->
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 am-animation-slide-bottom am-hide" id="edit_window">
                    <div class="widget am-cf">
                        <div>
                            <button type="button" class="am-close am-fr am-text-xxxl" id="close_btn">&times;</button>
                        </div>
                        <div class="am-u-sm-6 am-u-sm-offset-3">
                            <p class="am-text-primary am-text-center">新增 / 修改SKU信息
                            </p>
                            <hr/>
                            <form class="am-form am-form-horizontal"
                                  th:each="prop:${product.productProperties}" name="properties_form">
                                <div class="am-form-group am-form-group-sm">
                                    <label class="am-u-sm-2 am-form-label">[[${prop.propertyName}]]:</label>
                                    <div class="am-u-sm-10">
                                        <!--sku属性id对应商品属性集id-->
                                        <input type="hidden" th:value="${prop.id}" name="productPropertyId">
                                        <input type="hidden" th:value="${prop.propertyName}" name="propertyName">
                                        <input type="text" class="am-form-field" name="propertyValue">
                                        <!--属性集主键id-->
                                        <input type="hidden" name="id" value="21">
                                    </div>
                                </div>
                            </form>
                            <form class="am-form am-form-horizontal" id="sku_form">
                                <input type="hidden">
                                <input type="hidden" th:value="${product.code}" name="productCode">
                                <input type="hidden" name="skuPic" id="sku_pic">
                                <input type="hidden" name="id" value="0">
                                <div class="am-form-group am-form-group-sm">
                                    <label class="am-u-sm-2 am-form-label">市场价</label>
                                    <div class="am-u-sm-10">
                                        <input type="number" class="am-form-field" name="marketPrice">
                                    </div>
                                </div>
                                <div class="am-form-group am-form-group-sm">
                                    <label class="am-u-sm-2 am-form-label">优惠价</label>
                                    <div class="am-u-sm-10">
                                        <input type="number" class="am-form-field" name="price">
                                    </div>
                                </div>
                                <div class="am-form-group am-form-group-sm">
                                    <label class="am-u-sm-2 am-form-label">成本价</label>
                                    <div class="am-u-sm-10">
                                        <input type="number" class="am-form-field" name="costPrice">
                                    </div>
                                </div>
                                <div class="am-form-group am-form-group-sm">
                                    <label class="am-u-sm-2 am-form-label">可用库存</label>
                                    <div class="am-u-sm-10">
                                        <input type="number" class="am-form-field" name="availableStock">
                                    </div>
                                </div>
                                <div class="am-form-group am-form-group-sm">
                                    <label class="am-u-sm-2 am-form-label">锁定库存</label>
                                    <div class="am-u-sm-10">
                                        <input type="number" class="am-form-field" name="frozenStock">
                                    </div>
                                </div>
                            </form>
                            <div class="am-form tpl-form-border-br" enctype="multipart/form-data">
                                <div class="am-form-group am-form-group-sm">
                                    <label class="am-u-sm-2 am-form-label">SKU图片</label>
                                    <div class="am-u-sm-10">
                                        <ul class="am-avg-sm-2 am-thumbnails">
                                            <li>
                                                <form class="am-form tpl-form-border-br" enctype="multipart/form-data">
                                                    <div class="am-u-sm-10 tpl-form-file-img am-form-file">
                                                        <img src="/assets/img/add_bg.png" alt="添加图片" height="80px" id="edit_img">
                                                        <input type="file" name="file" onchange="add_img(this)"
                                                               multiple>
                                                        <img src="/assets/img/del_bg.png" alt="删除图片" height="80px"
                                                             class="product_add_img" style="left:10px"
                                                             onclick="del_img(this)">
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-5 am-u-sm-offset-4 am-margin-vertical-sm">
                            <button class="am-btn am-btn-primary am-btn-block" id="add_sku_submit">提交</button>
                        </div>

                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{index::#loading_modal}"></div>
<div th:replace="~{index::#alert_modal}"></div>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/wangEditor.min.js"></script>
<script src="/assets/js/amazeui.datatables.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/sku-product.js"></script>
</body>

</html>