.mz-hide {
    display: none!important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
}

img {
    border-style: none;
    vertical-align: top;
}

.category-item-box {
    clear: both;
}

#slider {
    width: auto;
    margin: 0px auto;
    text-align: center;
}

.controls li {
    color: #FFF;
    padding: 20px 10px;
    top: 50%;
    margin-top: -30px;
    transition: all .8s;
}

.controls li:hover {
    background-color: #333;
    transition: all .8s;
}

.controls li:nth-child(1) {
    left: 244px;
}

.controls li:nth-child(2) {
    right: 0;
}


/*轮播图*/

.pagination li {
    background-color: #ddd;
}

.pagination li.active {
    background-color: #000;
}

.responsive {
    width: 1920px;
    height: 480px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* 分类导航 */

.left-category-nav {
	font-size: 15px;
    height: 480px;
    position: relative;
}

.category_nav {
    position: absolute;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 244px;
    height: 480px;
}

.category_nav ul {
    margin-top: 10px;
}

.category_nav li {
    line-height: 57px;
    text-align: left;
    font-size: 15px;
    padding-left: 25px;
    color: #00c3f5;
    transition: all .5s;
}

.category_nav li:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #00c3f5;
    transition: all .5s;
    opacity: 1
}

.category-child {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    position: absolute;
    height: 480px;
    width: auto;
    left: 244px;
    top: 0;
    background-color: #fff;
    white-space: nowrap;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}

/*二级分类标题*/
.category-child .category-child-title {
    padding: 0px 10px;
    font-size: 15px;
    width: 300px;
    border-bottom: 1px solid #efefef;
}
.category-child .category-child-title a{
    font-size: 18px;
    transition: all .5s;
    width: 100%;
}
.category-child .category-child-title a:hover{
    color: #00c3f5;
    transition: all .5s;
}
.category-child .category-child-title span {
    float: right;
}
/*导航商品列表*/
.category-box{
    padding: 0px!important;
    display: inline-block;
    width: 100%;
    float: left;
    clear: both;
    height: 240px;
}
.product-list{
    width: 100%;
}
.product-list a{
    padding: 5px 8px;
    font-size: 14px;
    line-height: 40px;
    float: left;
    display: block;
    width: 130px;
    transition: all .2s;
}
.product-list a div{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-list a:hover{
    color: #00c3f5;
    transition: all .2s;
}
.product-list img{
    padding: 3px;
    float:left;
}


/* home-service */

.home-service {
    margin-top: 1px;
}

.home-service li:first-child {
    margin-left: 0px;
}

.home-service li {
    float: left;
    width: 244px;
    height: 100%;
    margin-left: 5px;
}
/* hot */

.bxslider {
    height: 400px;
}

.hot {
    position: relative;
    width: 1241px;
    height: auto;
    overflow: hidden;
}

.hot-item {
    width: 247px!important;
    display: inline-block;
    vertical-align: middle;
    transition: border 0.9s;
    border: 1px solid #EFEFEF;
    position: relative;
    font-size: 14px;
    height: 338px;
    text-align: center;
    z-index: 1;
    background-color: #fff;
    margin-right: -1px!important;
}

.hot-item:hover {
    z-index: 2;
    border: 1px solid #cecece;
    transition: border 0.9s;
}

.hot-item a {
    display: block;
    height: 100%;
    padding: 0 10px;
    padding-bottom: 40px;
    overflow: hidden;
}

.hot-item a img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 36px auto 0;
}

.hot-item h4 {
    font-size: 14px;
    color: #555757;
    margin-top: 40px;
}

.hot-item h6 span {
    margin-right: 5px;
    padding: 0 5px;
    color: #fff;
    background-color: #f14361;
}

.hot-item p {
    color: #e02b41;
    font-size: 12px;
    margin-top: 5px;
}

.hot-item p span {
    padding-right: 2px;
    margin: 0 4px;
    font-size: 14px;
}

.hot-title {
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.bx-prev {
    width: 33px;
    height: 33px;
    background: #f00;
    text-indent: -999999px;
    z-index: 999;
    position: absolute;
    float: left;
    right: 55px;
    top: 30px;
    background: url(../img/hot-page-bg.png) no-repeat 0px 0px;
}

.bx-next {
    width: 33px;
    height: 33px;
    z-index: 999;
    position: absolute;
    text-indent: -999999px;
    top: 30px;
    right: 15px;
    background: url(../img/hot-page-bg.png) no-repeat -42px 0px;
}




/* floor */

.home-floor-box {
    background-color: #f5f5f5;
    line-height: 40px;
    padding-bottom: 40px;
}




/* ul */

.home-floor {
    clear: both;
    display: block;
    overflow: hidden;
    zoom: 1
}




/* title */

.home-floor-title {
    margin-bottom: 15px;
}

.home-floor-title h2 {
    float: left;
    font-size: 24px;
    color: #333;
    margin-right: 30px;
}

.home-floor-title>div {
    float: left;
    padding-bottom: 8px;
}

.home-floor-title>div>a {
    font-size: 14px;
    color: #00c3f5;
    border-bottom: #00c3f5 solid 2px;
}

.home-floor-title>a {
    float: right;
    font-size: 14px;
    color: #333;
    margin-right: 10px;
    transition: color .2s linear;
}

.home-floor-title>a:hover {
    color: #00c3f5;
    transition: color .2s linear;
}

.home-floor-ad {
    height: 120px;
    overflow: hidden;
    margin-top: 30px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.home-floor-product-item-ad {
    display: block;
    position: relative;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.home-product {
    clear: both;
    overflow: hidden;
}




/* list */

.product-item-box {
    clear: both;
}

.home-floor-product {
    position: relative;
    float: left;
    top: 0;
    width: 244px;
    height: 338px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: all .2s linear 0s;
    background-color: #FFF;
}




/* 每行最后一个清除margin-right */

.home-floor-product:nth-child(5n) {
    margin-right: 0px;
}

.home-floor-product:hover {
    z-index: 10;
    top: -2px;
    -moz-box-shadow: #cecece 0px 4px 25px;
    -webkit-box-shadow: #cecece 0px 4px 25px;
    box-shadow: #cecece 0px 6px 40px;
}

.home-floor-product img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 36px auto 0;
}

.home-floor-product>a {
    text-align: center;
    display: block;
    height: 100%;
    overflow: hidden;
}

.home-floor-product>a>h4 {
    font-size: 14px;
    color: #555757;
    margin-top: 40px;
}

.home-floor-product>a>h6 {
    font-size: 12px;
    color: #999;
    margin-top: 2px;
}

.home-floor-product>a>p {
    color: #e02b41;
    font-size: 12px;
    margin-top: 5px;
}

.home-product-sign {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    background-color: #00c3f5;
}




/* bottom */

.homt-bottom {
    clear: both;
}

.layout-footer-services {
    float: left;
    width: 960px;
    margin: 60px 0 16px;
}

.layout-footer-services-item {
    float: left;
    width: 240px;
    margin-bottom: 27px;
    line-height: 30px;
}

.layout-footer-services-item span {
    color: #999;
    font-size: 14px;
    line-height: 26px;
    float: left;
}

.layout-footer-services-item a:hover span{
	transition: all .3s linear 0s;
	color: #00c3f5;
}

.layout-footer-services-item span:first-child {
    font-size: 26px;
    padding-right: 10px;
}

.layout-footer-contact {
    float: right;
    margin-top: 65px;
    text-align: right;
}
.layout-footer-contact a{
	display: block;
    font-size: 20px;
    color: #00c3f5;
    margin-bottom: 8px;
}
.layout-footer-contact a:hover{
	color: #00c3f5;
}
.layout-footer-contact p{
	font-size: 12px;
    margin-bottom: 2px;
}

.layout-footer-copyright{
	clear: both;
	text-align: center;
	font-size: 12px;
	color: #999;
	padding-bottom: 20px;
}
