.wrap {
    margin: auto;
    width: 1240px;
}

a {
	text-decoration: none;
    color: #000;
}

a:hover {
    color: #000
}

a:active {
    color: #000
}

div,
h1,
h2,
h3,
h4,
p,
form,
label,
input,
textarea,
img,
span,
dl,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

.top {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content {
    height: 750px;
    background-color: #f2f9ff;
    position: relative;
}