<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wstore - 后台管理 - 品牌管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!---->
    <div th:replace="~{index::topbar}"></div>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div th:replace="~{index::leftbar}"></div>

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf am-fl">品牌列表</div>
                            <button type="button" class="am-btn am-btn-success am-btn-xs am-fr"
                                    data-am-modal="{target: '#add-brand-modal', closeViaDimmer: 0, width: 800}">
                                <i class="am-icon-plus"></i> 新增品牌
                            </button>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12">
                                <table width="100%"
                                       class="am-table am-table-compact">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>品牌logo</th>
                                        <th>中文名称</th>
                                        <th>英文名称</th>
                                        <th>排序</th>
                                        <th>状态</th>
                                        <th>上次编辑</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="even gradeC" th:each="brand:${brands.pageInfo.list}">
                                        <td class="am-text-middle" th:text="${brand.id}"> </td>
                                        <td>
                                            <img th:src="${brand.brandPic}"
                                                 class="tpl-table-line-img">
                                        </td>
                                        <td class="am-text-middle" th:text="${brand.name}"></td>
                                        <td class="am-text-middle" th:text="${brand.englishName}"></td>
                                        <td class="am-text-middle" th:text="${brand.sort}"></td>
                                        <td class="am-text-middle am-text-success" th:if="${brand.status} == 1">上架
                                        </td>
                                        <td class="am-text-middle am-text-danger" th:if="${brand.status} == 0">下架</td>
                                        <td class="am-text-middle"
                                            th:text="${#dates.format(brand.updateTime,'yyyy-MM-dd')}"></td>
                                        <td class="am-text-middle">
                                            <div class="tpl-table-black-operation">
                                                <button type="button" class="am-btn am-btn-primary am-btn-xs"
                                                        onclick="open_edit_modal(this)">
                                                    <i class="am-icon-pencil"></i> 编辑
                                                </button>
                                                <button type="button" class="am-btn am-btn-success am-btn-xs"
                                                        onclick="switchStatus(this,1)"
                                                        th:if="${brand.status} == 0">
                                                    <i class="am-icon-eye-slash"></i> 上架
                                                </button>
                                                <button type="button" class="am-btn am-btn-warning am-btn-xs"
                                                        onclick="switchStatus(this,0)"
                                                        th:if="${brand.status} == 1">
                                                    <i class="am-icon-eye"></i> 下架
                                                </button>
                                                <button type="button" class="am-btn am-btn-danger am-btn-xs"
                                                        onclick="del_brand(this)">
                                                    <i class="am-icon-trash"></i> 删除
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="am-u-lg-12 am-cf">
                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination">
                                    <li th:class="${brands.pageInfo.isFirstPage}?'am-disabled'">
                                        <a th:href="'/brand/page/'+${brands.pageInfo.pageNum-1}">«</a>
                                    </li>
                                    <li th:each="pageNavigate:${brands.pageInfo.navigatepageNums}"
                                        th:class="${brands.pageInfo.pageNum==pageNavigate}?'am-active'">
                                        <a th:href="'/brand/page/'+${pageNavigate}"
                                           th:text="${pageNavigate}">1</a>
                                    </li>
                                    <li th:class="${brands.pageInfo.isLastPage}?'am-disabled'">
                                        <a th:href="'/brand/page/'+${brands.pageInfo.pageNum+1}">»</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 添加品牌 -->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="add-brand-modal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd"><h4 class="am-text-primary">新增品牌</h4>
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="warning_mod" id="add_brand_warning">
        </div>
        <div class="am-modal-bd">
            <div class="widget-body am-fr am-text-left">
                <form class="am-form tpl-form-border-form tpl-form-border-br" id="add_brand_form" data-am-validator>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">品牌中文名称：
                        </label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="name" placeholder="请输入分类名称">
                            <small id="warning_msg_category">请输入2~8个汉字的中文名称</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">品牌英文名称：
                        </label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="englishName" placeholder="请输入英文名称">
                            <small>请输入品牌英文名称</small>
                        </div>
                    </div>
                    <input type="hidden" name="brandPic" id="pic_hide_input">
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">排序
                        </label>
                        <div class="am-u-sm-9">
                            <input type="number" class="tpl-form-input" placeholder="1" name="sort">
                            <small>分类排序，按数字大小正序排列</small>
                        </div>
                    </div>
                </form>
                <div class="am-form-group am-u-sm-12 am-form tpl-form-border-form tpl-form-border-br">
                    <label class="am-u-sm-3 am-form-label">品牌Logo </label>
                    <div class="am-u-sm-9">
                        <ul class="am-avg-sm-3 am-thumbnails">
                            <li>
                                <form class="am-form tpl-form-border-br" enctype="multipart/form-data">
                                    <div class="tpl-form-file-img am-form-file am-thumbnail">
                                        <img src="/assets/img/add_logo.png" alt="添加图片">
                                        <input type="file" name="file" onchange="add_img(this)" multiple>
                                        <img src="/assets/img/del_logo.png" class="upload_add_img" id="cache_img" onclick="del_img(this)">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success"
                                    id="add_brand_btn">提交
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--编辑品牌-->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="edit-brand-modal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd"><h4 class="am-text-primary">编辑品牌</h4>
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="warning_mod" id="edit_brand_warning">
        </div>
        <div class="am-modal-bd">
            <div class="widget-body am-fr am-text-left">
                <form class="am-form tpl-form-border-form tpl-form-border-br" id="edit_brand_form" data-am-validator>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">品牌中文名称：
                        </label>
                        <div class="am-u-sm-9">
                            <input type="hidden" name="id" id="edit_input_id">
                            <input type="text" class="tpl-form-input" name="name" id="edit_input_name" placeholder="请输入分类名称">
                            <small>请输入2~8个汉字的中文名称</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">品牌英文名称：
                        </label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="englishName" id="edit_input_en_name" placeholder="请输入英文名称">
                            <small>请输入品牌英文名称</small>
                        </div>
                    </div>
                    <input type="hidden" name="brandPic">
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">排序
                        </label>
                        <div class="am-u-sm-9">
                            <input type="number" class="tpl-form-input" placeholder="1" id="edit_input_sort" name="sort">
                            <small>分类排序，按数字大小正序排列</small>
                        </div>
                    </div>
                </form>
                <div class="am-form-group am-u-sm-12 am-form tpl-form-border-form tpl-form-border-br">
                    <label class="am-u-sm-3 am-form-label">品牌Logo </label>
                    <div class="am-u-sm-9">
                        <ul class="am-avg-sm-3 am-thumbnails">
                            <li>
                                <form class="am-form tpl-form-border-br" enctype="multipart/form-data">
                                    <div class="tpl-form-file-img am-form-file am-thumbnail" id="upload_img_div">
                                        <img src="/assets/img/add_logo.png" alt="添加图片">
                                        <input type="file" name="file" onchange="add_img(this)" multiple>
                                        <img src="/assets/img/del_logo.png" class="upload_add_img" onclick="del_img(this)">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success"
                                    id="edit_brand_btn">提交
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--通用消息框-->
<div class="am-modal am-modal-alert" tabindex="-1" id="alert_modal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">提示</div>
        <div class="am-modal-bd">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

<!--通用警告弹窗-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="warning_modal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd am-text-danger">警告</div>
        <div class="am-modal-bd" id="del_warning_connect">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

<!--添加商品窗口-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/amazeui.datatables.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/brand.js"></script>
</body>
</html>
