<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wstore - 广告/海报</title>
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="~{index::topbar}"></div>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div th:replace="~{index::leftbar}"></div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">

                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-9">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-dropdown" data-am-dropdown>
                                            <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-success"
                                                    data-am-modal="{target: '#add-poster-modal', closeViaDimmer: 0, width: 800}">
                                                <span class="am-icon-plus"></span> 新增广告
                                            </button>
                                            <button class="am-btn am-btn-xs am-btn-secondary am-dropdown-toggle" data-am-dropdown-toggle>选择位置 <span class="am-icon-caret-down"></span></button>
                                            <ul class="am-dropdown-content">
                                                <li><a href="/poster/1/1">首页Top</a></li>
                                                <li><a href="/poster/2/1">轮播海报</a></li>
                                                <li><a href="/poster/3/1">首页热卖</a></li>
                                                <li><a href="/poster/4/1">热品推荐</a></li>
                                                <li><a href="/poster/5/1">楼层广告</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                                       id="example-r">
                                    <thead>
                                    <tr>
                                        <th>广告预览</th>
                                        <th>标题</th>
                                        <th>扩展文本</th>
                                        <th>排序</th>
                                        <th>时间</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX" th:each="poster:${posters.pageInfo.list}">
                                        <td class="am-hide" th:text="${poster.id}"></td>
                                        <td>
                                            <a th:href="${poster.picture}" target="_blank">
                                                <img th:src="${poster.picture}" class="tpl-table-line-img" title="点击查看大图">
                                            </a>
                                        </td>
                                        <td class="am-text-middle" th:text="${poster.name}">魅族16Plus</td>
                                        <td class="am-text-middle table-p" th:utext="${poster.extendText}">
                                        </td>
                                        <td class="am-text-middle" th:text="${poster.sort}">1</td>
                                        <td class="am-text-middle" th:text="${poster.id}">2016-09-26</td>
                                        <td th:text="${poster.status==2}?'上架':'下架'"></td>
                                        <td class="am-text-middle">
                                            <div class="tpl-table-black-operation">
                                                <button type="button" class="am-btn am-btn-success am-btn-xs"
                                                        onclick="update(this,2)" th:if="${poster.status} == 1">
                                                    <i class="am-icon-plus"></i> 上架
                                                </button>
                                                <button type="button" class="am-btn am-btn-danger am-btn-xs"
                                                        onclick="update(this,1)" th:if="${poster.status} == 2">
                                                    <i class="am-icon-minus"></i> 下架
                                                </button>
                                                <button class="am-btn am-btn-xs am-btn-danger" onclick="update(this,0)">
                                                    <i class="am-icon-trash"></i> 删除
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">
                                <div class="am-fr" th:if="${#carts.length(posters.pageInfo.list)}>1">
                                    <ul class="am-pagination tpl-pagination">
                                        <li th:class="${posters.pageInfo.isFirstPage}?'am-disabled'">
                                            <a th:href="'/poster/'+${posters.pageInfo.list[0].position}+'/'+${posters.pageInfo.pageNum-1}">«</a>
                                        </li>
                                        <li th:each="pageNavigate:${posters.pageInfo.navigatepageNums}"
                                            th:class="${posters.pageInfo.pageNum==pageNavigate}?'am-active'">
                                            <a th:href="'/poster/'+${posters.pageInfo.list[0].position}+'/'+${pageNavigate}" th:text="${pageNavigate}">1</a>
                                        </li>
                                        <li th:class="${posters.pageInfo.isLastPage}?'am-disabled'">
                                            <a th:href="'/poster/'+${posters.pageInfo.list[0].position}+'/'+${posters.pageInfo.pageNum+1}">»</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 添加品牌 -->
<div class="am-modal am-modal-no-btn" tabindex="-1" id="add-poster-modal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd"><h4 class="am-text-primary">新增 / 编辑广告</h4>
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="warning_mod" id="warning_msg">
        </div>
        <div class="am-modal-bd">
            <div class="widget-body am-fr am-text-left">
                <form class="am-form tpl-form-border-form tpl-form-border-br" id="poster_form" data-am-validator>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">广告位置：
                        </label>
                        <div class="am-u-sm-4">
                            <select data-am-selected="{btnSize: 'sm'}" id="position_select">
                                <option value="1">顶部广告</option>
                                <option value="2">轮播海报</option>
                                <option value="3">首页热卖</option>
                                <option value="4">热品推荐</option>
                                <option value="5">楼层广告</option>
                            </select>
                        </div>
                        <div class="am-u-sm-5">
                            <i class="am-text-default" id="img_size_msg">请上传分辨率为3480 * 240的图片</i>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">广告显示名称：
                        </label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="name" placeholder="请输入分类名称">
                            <input type="hidden" name="picture">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">广告扩展文本：
                        </label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="extendText" placeholder="可输入带css样式的文本">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">广告链接：
                        </label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="url" placeholder="请输入链接">
                        </div>
                    </div>
                    <input type="hidden" name="position" value="1" id="position_input">
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label"> 排序：
                        </label>
                        <div class="am-u-sm-9">
                            <input type="number" class="tpl-form-input" placeholder="1" name="sort">
                        </div>
                    </div>
                </form>
                <div class="am-form-group am-u-sm-12 am-form tpl-form-border-form tpl-form-border-br">
                    <label class="am-u-sm-3 am-form-label">广告图片 </label>
                    <div class="am-u-sm-9">
                        <form class="am-form tpl-form-border-br" enctype="multipart/form-data" id="img_form">
                            <div class="am-container">
                                <div class="tpl-form-file-img am-form-file am-scrollable-horizontal">
                                    <img src="/assets/img/add_bg.png" alt="添加图片" height="100">
                                    <input type="file" name="file" multiple>
                                </div>
                            </div>
                        </form>
                    </div>
                    <input type="hidden" id="img_cache">
                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success"
                                    id="add_poster_btn">提交
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{index::#loading_modal}"></div>
<div th:replace="~{index::#alert_modal}"></div>
<div th:replace="~{index::#warning_modal}"></div>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/poster.js"></script>
</body>

</html>