.wrap {
    margin: auto;
    width: 1240px;
}

.w-hide {
    display: none!important;
}
.w-show {
    visibility: visible!important;
}

a {
	text-decoration: none;
    color: #000;
}

a:hover {
    color: #000
}

a:active {
    color: #000
}

div,
h1,
h2,
h3,
h4,
p,
form,
label,
input,
textarea,
img,
span,
dl,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

.top {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    background: url(../images/logo.png) left center no-repeat;
}

.content {
    height: 750px;
	width: 100%;
    background: url(../images/login-bg.jpg) center no-repeat;
	background-color: #f8fcff;
    position: relative;
}

.step-box{
}
.login-box {
    background-color: #FFF;
    height: auto;
    width: 380px;
    position: absolute;
    right: 15%;
    top: 25%;
	padding-bottom: 20px;
	-moz-box-shadow: #e8e8e870 0px 4px 25px;
	-webkit-box-shadow: #e8e8e870 0px 4px 25px;
	box-shadow: #e8e8e870 0px 4px 30px;
	transition: .2s linear;
}

.login-box a {
    line-height: 28px;
    font-size: 14px;
    float: right;
    padding-right: 35px;
}
.login-box a:hover{
	color: #32a5e7;
}

.login-title {
	clear: both;
    font-weight: normal;
    font-size: 20px;
    line-height: 80px;
    width: 100%;
	text-align: center;
    color: #32a5e7;
}

.login-form {
    width: 80%;
    margin: auto;
}

.login-form input {
    width: 300px;
    height: 40px;
    padding: 2px 4px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #999;
    outline: none;
	border-radius: 2px;
    transition: .2s;
}
.login-form input:hover{
    border-color: #269adc;
}
.login-form input:focus{
    border-color: #269adc;
}
.login-form .validate-input{
    text-transform: uppercase;
	width: 150px;
}

.login-form .validate-pic{
	height: 44px;
	width: 120px;
	float: right;
}

.login-form-error {
	color: red;
    height: 38px;
    visibility: hidden;
    font-size: 14px;
    line-height: 38px;
}
.login-form-label{
	color: #999;
	height: 38px;
	visibility: inherit;
	font-size: 14px;
	line-height: 38px;
}
.show-err{
	visibility: initial;
}

.login-btn {
    width: 308px;
    border: none;
    display: block;
    height: 46px;
    font-size: 14px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    background-color: #32a5e7;
    color: #fff;
    border-radius: 2px;
	transition: background-color .2s linear;
}
.login-btn:hover{
	background-color: #269adc;
}
.mail-name{
    text-align: center;
	line-height: 36px;
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 20px;
    color: #616161;
}